<div class="row">
  <%= form_for(@errand) do |f| %>
    <% if @errand.errors.any? %>
      <div class="col s10">
        <div id="error_explanation" class="card-panel red accent-1 white-text">
          <div class="row-no-margin">
            <div class="col s2 m1">
              <i class="small material-icons">error</i>
            </div>
            <div class="col s10 m11">
              <b><%= pluralize(@errand.errors.count, "error") %> prohibited this TODO from being saved:</b>
            </div>
            <div class="col s10- m11 offset-s2 offset-m1">
              <ul>
                <% @errand.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <div class="input-field col s12">
      <%= f.text_field :title, length: 100, maxlength: 100, required: true%>
      <%= f.label :title, class: "active" %>
    </div>
    <div class="input-field col s12">
      <%= f.text_area :content, class: "materialize-textarea" %>
      <%= f.label :content, class: "active" %>
    </div>

    <div class="col s12">
      <ul class="collapsible collapsible-accordion flatten borderless todo-link">
        <li>
          <a class="collapsible-header transparent borderless grey-text text-darken-1 blue-hover">
            <i class="material-icons">arrow_drop_down</i>
            Labels
          </a>
          <div class="collapsible-body borderless">
            <ul>
              <% @labels.each do|label|%>
                <li>
                  <p class="less-padding">
                  <%= check_box_tag "errand[label_ids][]", label.id, @errand.labels.include?(label), id: "label#{label.id}" %>
                  <%= label_tag "label#{label.id}", label.name %>
                </p>
                </li>
              <% end %>
            </ul>
          </div>
        </li>
      </ul>
    </div>   

    <div class="actions right">
      <%= link_to raw("<i class=\"material-icons\">reply</i>"), 
        errands_path,
        class: "btn-floating btn-large waves-effect waves-circle waves-light light-green" %>
      &nbsp;

      <% icon = @errand.new_record? ? "note_add" : "mode_edit" %>
      <%= f.button raw("<i class=\"material-icons\">"+ icon +"</i>"), class: "btn-floating btn-large waves-effect waves-light" %>
    </div>

  <% end %>
</div>