<p id="notice"><%= notice %></p>

<div>
  <%= link_to raw("<i class=\"material-icons\">add</i>"), 
              new_errand_path, 
              class: "btn-floating waves-effect waves-circle waves-light blue right" %>
  <h3>
    <%= (@label? @label.name : "TODOs") %>
  </h3>
  
</div>

<ul class="collection">
  <% @errands.each do|errand| %>
    <li class="collection-item">
      <%= link_to errand.title, errand%>
      <div class="secondary-content">
        <%= link_to raw("<i class=\"small material-icons\">mode-edit</i>"),
            edit_errand_path(errand),
            class: "grey-text" %>
        <%= link_to raw("<i class=\"small material-icons\">delete</i>"), 
            errand, method: :delete, 
            data: { confirm: 'Are you sure?' },
            class: "grey-text" %>
        </div>
    </li>
  <% end %>
</ul>




