<div>
  <%= link_to raw("<i class=\"material-icons\">add</i>"), 
              new_errand_path, 
              class: "btn-floating btn-large waves-effect waves-circle waves-light cyan darken-1 right" %>
  <h3>
    <%= (@label? @label.name : "TODOs") %>
  </h3>
  
</div>

<ul class="collapsible popout collection" data-collapsible="accordion">
  <% if @errands and @errands.empty? %>
    <div class="card-panel green lighten-3 center-align">
      You have no TODO tasks yet.
    </div>
  <% else %>
    <% @errands.each do|errand| %>
      <li class="collection-item avatar">

        <i class="material-icons circle green">assignment</i>
      
        <div class="collapsible-header">
          <div class="right">
            <%= link_to raw("<i class=\"small material-icons\">create</i>"),
                edit_errand_path(errand),
                class: "grey-text blue-hover" %>
            <%= link_to raw("<i class=\"small material-icons\">delete</i>"), 
                errand, method: :delete, 
                data: { confirm: 'Are you sure?' },
                class: "grey-text red-hover" %>
          </div>      

          <span class="title">
            <%= errand.title %>
          </span>

          <% if errand.deadline %>
            <p class="grey-text text-darken-1">
              Due:  <%= errand.deadline.strftime("%-d %B, %Y") %>
            </p>
          <% end %>
        </div>
      
        <div class="collapsible-body">
          <p class="row">
            <%= errand.content %>
          </p>
          
          <% if errand.labels and !errand.labels.empty?%>
            <div class="divider green darken-3"></div>
            <br />

            <% errand.labels.each do |label| %>
              <span class="icon-chip light-blue lighten-3">
              <i class="material-icons blue-text text-darken-2">label</i>
              <%= label.name %>
              </span>
            <% end %>
          <% end %>
        </div>
      </li>
    <% end %>
  <% end %>
</ul>