<div>
  <%= link_to raw("<i class=\"material-icons\">add</i>"), 
              new_session_errand_path(@app_session), 
              class: "btn-floating btn-large waves-effect waves-circle waves-light cyan darken-1 right" %>
  <h3>
    <%= (@label? @label.name : "TODOs") %>
  </h3>
  
</div>

<ul class="collapsible popout collection" data-collapsible="accordion">
  <% if @errands and @errands.empty? %>
    <div class="card-panel green lighten-3 center-align">
      You have no TODO tasks yet.
    </div>
  <% else %>
    <% @errands.each do|errand| %>
      <%  case errand.status
          when :late
            color = "red"
            text = "red-text"
            icon = "assignment_late"
          when :due_today
            color = "orange"
            text = "orange-text"
            icon = "assignment"
          else
            color = "green"
            text = "grey-text"
            icon = "assignment"
          end
      %>

      <li class="collection-item avatar <%= color +"-back" %>">

        <i class="material-icons circle <%= color %> lighten-1"><%= icon =%></i>
      
        <div class="collapsible-header">
          <div class="right">
            <%= link_to raw("<i class=\"small material-icons\">create</i>"),
                edit_session_errand_path(@app_session, errand),
                class: "grey-text blue-hover" %>
            <%= link_to raw("<i class=\"small material-icons\">delete</i>"), 
                [@app_session, errand], 
                method: :delete, 
                data: { confirm: 'Are you sure?' },
                class: "grey-text red-hover" %>
            <%= link_to raw("<i class=\"small material-icons\">done</i>"), 
                toggle_session_errand_path(@app_session, errand), 
                method: :patch, 
                class: "grey-text green-hover" %>
          </div>      

          <span class="title">
            <%= errand.title %>
          </span>

          <% if errand.deadline %>
            <p class="text-darken-2 <%= text %>">
              Due:  <%= errand.deadline.strftime("%-d %B, %Y") %>
            </p>
          <% end %>
        </div>
      
        <div class="collapsible-body">
          <p class="row">
            <%= errand.content %>
          </p>
          
          <% if errand.labels and !errand.labels.empty?%>
            <div class="divider <%= color %> darken-3"></div>
            <br />

            <% errand.labels.each do |label| %>
              <span class="icon-chip light-blue lighten-3">
              <i class="material-icons blue-text text-darken-2">label</i>
              <%= label.name %>
              </span>
            <% end %>
          <% end %>
        </div>
      </li>
    <% end %>
  <% end %>
</ul>

<br />

<ul class="collapsible collapsible-accordion flatten borderless">
  <li>
    <a class="collapsible-header transparent grey-text text-darken-1 blue-hover">
      <i class="material-icons">arrow_drop_down</i>
      <h5>Completed TODOs</h5>
    </a>
    <div class="collapsible-body borderless">
      <ul class="collapsible popout collection" data-collapsible="accordion">
        <% if @errands_done and @errands_done.empty? %>
          <div class="card-panel grey lighten-2 center-align">
            You have no completed TODOs.
          </div>
        <% else %>
          <% @errands_done.each do|errand| %>

            <li class="collection-item avatar grey-back">

              <i class="material-icons circle grey">assignment_turned_in</i>
            
              <div class="collapsible-header">
                <div class="right">
                  <%= link_to raw("<i class=\"small material-icons\">create</i>"),
                      edit_session_errand_path(@app_session, errand),
                      class: "grey-text blue-hover" %>
                  <%= link_to raw("<i class=\"small material-icons\">delete</i>"), 
                      [@app_session, errand] , 
                      method: :delete, 
                      data: { confirm: 'Are you sure?' },
                      class: "grey-text red-hover" %>
                  <%= link_to raw("<i class=\"small material-icons\">undo</i>"), 
                      toggle_session_errand_path(@app_session, errand), 
                      method: :patch, 
                      class: "grey-text orange-hover" %>
                </div>      

                <span class="title">
                  <%= errand.title %>
                </span>

                <% if errand.deadline %>
                  <div class="text-darken-2 grey-text">
                    Was due:  <%= errand.deadline.strftime("%-d %B, %Y") %>
                  </div>
                <% end %>
              </div>
            
              <div class="collapsible-body">
                <p class="row">
                  <%= errand.content %>
                </p>
                
                <% if errand.labels and !errand.labels.empty?%>
                  <div class="divider green darken-3"></div>
                  <br />

                  <% errand.labels.each do |label| %>
                    <span class="icon-chip blue-grey lighten-3">
                    <i class="material-icons blue-grey-text text-darken-2">label</i>
                    <%= label.name %>
                    </span>
                  <% end %>
                <% end %>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </li>
</ul>