<nav class="green lighten-1">
	<div class="nav-wrapper">
		<%= link_to raw('Chimney'), root_path , class: "brand-logo center"%>
    <ul class="left">
      <li>
        <a href="#" data-activates="slide-out" class="menu-btn"><i class="material-icons">menu</i></a>
      </li>
		</ul>
		<ul class="right">
      <li>
        <%= link_to raw("<i class=\"material-icons\">note_add</i>"), new_session_errand_path(@app_session) %>
      </li>
		</ul>

    <ul id="slide-out" class="side-nav collapsible">
      <li>
      <%= link_to raw("<i class=\"material-icons left\">assignment</i><b>TODOs</b>"), 
          session_errands_path(@app_session),
          class: "waves-effect waves-teal" %>
      </li>

      <li><div class="divider"></div></li>
        
      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header">Labels<i class="material-icons">arrow_drop_down</i></a>
            <div class="collapsible-body">
              <ul>
                <li>
                  <%= link_to raw("<i class=\"material-icons left\">dashboard</i>") + "Manage labels", 
                      session_labels_path(@app_session) %>
                </li>

                <% @labels.each do|label| %>
                  <li>
                    <%= link_to raw("<i class=\"material-icons left\">label_outline</i>") + label.name,
                                [@app_session, label],
                                class: "waves-effect" %>
                  </li>
                <% end %>
              </ul>
            </div>
          </li>
        </ul>
      </li>
    </ul>
	</div>
</nav>