<!DOCTYPE html>
<html>
<head>
  <title>Chimney</title>
  <%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/icon?family=Material+Icons', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
	<%= render 'shared/nav'%>
</header>

<main>
	<div class="container">
		<%= yield %>
	</div>
</main>	

<footer class="page-footer transparent">
	<%= render 'shared/footer' %>	
</footer>

</body>
</html>
